/* theme vars */
@white: #FFFFFF;
@black: #000000;
@primary-blue: #507DBC;
@light-gray: #F6F6F6;
@mid-gray: #5f6673;

/* break points */
@tablet: 768px;
@mobile: 575px;

:root {
    font-family: 'Nunito', sans-serif;
}

/* global styles */
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: @white;
    color: @black;
}