/* theme vars */
@white: #FFFFFF;
@black: #000000;
@primary: #507DBC;

:root {
    font-family: 'Nunito', sans-serif;
}

/* global styles */
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: @white;
    color: @black;
}